fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
itsdangerous
python-multipart
pydantic-settings
starlette
httpx
beautifulsoup4
python-slugify
newspaper4k
PyJWT
bleach
defusedxml
Pillow
slowapi
pydantic[email]
